*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}


.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup-content {
    position: relative;
    top: 20vh;
    left: 10vh;
    right: 10vh;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    background-color: #696969;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #fff;
}


form div {
    margin-bottom: 15px;
    position: relative;
}

form button {
    padding: 10px 0;
    margin-left: 30px;
    width: 120px;
    background: #FFE4E1;
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

select {
    margin-top: 5px;
    width: 172px;
    cursor: pointer;
    padding: 5px 5px;
    background: #e6e6e6;
    color: #7b7b7b;
}
input[type="text"], input[type="phone"] {
  margin-top: 5px;
  width: 172px;
  background: #e6e6e6;
}


li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: #696969;
}

.logo {
    background-color: #FFE4E1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_grafick {
    padding: 5px;
    max-width: 100%;
}

nav {
    width: 100%;
}

.icon {
    display: none;
}

.topnav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.topnav a {
    margin-left: 20px;
    text-align: center;
    color: #fff;
    padding: 14px 16px;
}

.topnav a:hover:not(:last-child) {
    border-bottom: 2px solid #fff;
}

.w100 {
    width: 100%;
}

.menu_text {
    background-color: #FFE4E1;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;

}

.text {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}


.menu_container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}

.menu_item {
    width: 30%;
    color: #fff;
}

.menu_item button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222;
    background-color: #FFE4E1;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu_item button:hover {
    background-color: #fff;
    color: #222;
}

.galary_container {
    display: flex;
    justify-content: center;

}

.galary {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.galary_item {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.pict {
    padding: 20px;
    width: 300px;
    height: 200px;
    opacity: 0.55;
}



.pict:hover {
    opacity: 1;
    padding: 0;
    margin: 20px;
    border-radius: 15%;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 20px 10px gray;
}

@media screen and (min-width:1400px) {

    .w100 {
        min-width: 100%;
    }
}

@media screen and (max-width:1530px) {
    .galary_item {
        width: 40%;
    }

    #footer_b {
        position: relative;
    }

}

@media screen and (max-width:768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    nav {
        width: 100%;

    }

    .topnav a.icon {
        float: right;
        display: block;
        color: #fff;
        margin-top: -5px;
    }

    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive {
        display: block;
        height: 45vh;
    }

    .topnav.responsive a {
        display: block;
        margin-left: 0;
        text-align: left;
    }

    .topnav.responsive a:hover {
        border-bottom: none;
        color: gray;
    }

    .menu_item {
        width: 45%;
    }

    .galary_item {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .pict {
        width: 65vw;
        height: 30vh;
    }

    .pict:hover {
        padding: 0;
        margin: 20px;
        border-radius: 15%;
        width: 67vw;
        height: 32vh;
        box-shadow: 2px 2px 20px 10px gray;
    }

    @media screen and (max-width:470px) {

        .menu_item {
            width: 100%;
        }

        .galary_item {
            width: 100%;
        }

    }
